

<body ng-app="app">
  <form name="exampleForm" class="elegant-aero">
    <label>First Name:</label>
    <input type="text" name="userFirstName" ng-model="firstName" required />
    <div ng-messages="exampleForm.userFirstName.$error">
      <div ng-message="required">This field is required</div>
    </div>

    <label>Last Name:</label>
    <input type="text" name="userLastName" ng-model="lastName" required />
    <div ng-messages="exampleForm.userLastName.$error">
      <div ng-message="required">This field is required</div>
    </div>

    <label>Email Address:</label>
    <input type="email" name="userEmail" ng-model="email" required />
    <div ng-messages="exampleForm.userEmail.$error">
      <div ng-message="required">This field is required</div>
      <div ng-message="email">Your email address is invalid</div>
    </div>

    <label>Phone Number:</label>
    <input type="email" name="userPhoneNumber" ng-model="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
    <div ng-messages="exampleForm.userPhoneNumber.$error">
      <div ng-message="required">This field is required</div>
      <div ng-message="pattern">Must be a valid 10 digit phone number</div>
    </div>

    <label>User Message:</label>
    <textarea type="text" name="userMessage" class="form-control" rows="4" ng-model="message" ng-minlength="10" ng-maxlength="100" required></textarea>
    <div ng-messages="exampleForm.userMessage.$error">
      <div ng-message="required">This field is required</div>
      <div ng-message="minlength">Message must be over 10 characters</div>
      <div ng-message="maxlength">Message must not exceed 100 characters</div>
    </div>
  </form>
</body>

