<div class="panel panel-info">
  <div class="panel-heading">{{todo.name}}</div>
  <div class="panel-body">
        <p id='todonooffaces'>nooffaces : {{todo.nooffaces}}</p>
        <p id='todofacialalgorithm'>facial algorithm : {{todo.facialalgorithm}}</p>
        <a id='goBackLink' href='/AngularJSRestful/#/'>Back to list</a>
  </div>
</div>