<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Computer Vision Tests</h3>
    </div>
    <div>
        <table class="table">
            <tr>
                <td>Test Name</td>
                 <td>Test Date</td>
                <td>Face Algorithm</td>
                <td>classifier</td>
                <td>database name</td>
                  <td>Accuracy(%)</td>
                   <td>No of faces</td>
            </tr>
            <tr ng-repeat="todo in todos  | orderBy:'-accuracyclassifier':reverseSort">
                <td><a href="#/todoDetail/{{todo.id}}">{{todo.name}}</a></td>
                <td><a href="#/todoDetail/{{todo.id}}"><mydate>{{todo.dateoftest  | date:'yyyy-MM-dd HH:mm:ss Z'}}</mydate></a></td>
                 <td><a href="#/todoDetail/{{todo.id}}">{{todo.facialalgorithm}}</a></td>
                    <td><a href="#/todoDetail/{{todo.id}}">{{todo.classifier}}</a></td>
                 <td><a href="#/todoDetail/{{todo.id}}">{{todo.databasename}}</a></td>
                 <td><a href="#/todoDetail/{{todo.id}}">{{todo.accuracyclassifier}}</a></td>
                 <td><a href="#/todoDetail/{{todo.id}}">{{todo.nooffaces}}</a></td>
                <td>
                    <a href="#/todoUpdate/{{todo.id}}">Update</a>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" ng-click="remove($index)">Delete</button>
                </td>
            </tr>   
        </table>
    </div>
    
    <div class="panel-body form-horizontal"  role="form" ng-controller="TodoAddCtrl">
        <h3>Add a new Computer Vision test</h3>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-xs-3">
                <input type="text" name="name" ng-model="name" required class="form-control"/>
        
            </div>
        </div>
        <div class="form-group">
            <label for="nooffaces" class="col-sm-2 control-label">No of faces</label>
            <div class="col-xs-3">
                <input type="number" name="nooffaces" ng-model="nooffaces" ng-pattern="/^(0|\-?[1-9][0-9]*)$/" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="facialalgorithm" class="col-sm-2 control-label">Facial Recognition Algorithm</label>
            <div class="col-xs-3">
                <select name="facialalgorithm" ng-model="facialalgorithm" class="form-control">
                    <option value='Local Binary Pattern'>Local Binary Pattern</option>
                    <option value='Local Directional Pattern'>Local Directional Pattern</option>
                    <option value='Sirf'>Sirf</option>
                </select>
            </div>
        </div>
             <div class="form-group">
            <label for="classifier" class="col-sm-2 control-label">classifier</label>
            <div class="col-xs-3">
                <select name="classifier" ng-model="classifier" class="form-control">
                    <option value='knn'>knn</option>
                    <option value='neural networks'>neural networks</option>
                    <option value='random forest'>random forest</option>
                    <option value='voting classifier'>voting classifier</option>
                     <option value='SVM'>Support Vector Machines</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="databasename" class="col-sm-2 control-label">database name</label>
            <div class="col-xs-3">
                <select name="databasename" ng-model="databasename" class="form-control">
                    <option value='JAFFE'>JAFFE</option>
                    <option value='Extended CK'>Extended CK</option>
                    <option value='Googleset'>Googleset</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" ng-click="add()">Submit</button>
            </div>
        </div>
    </div>
</div>