<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Update Todo</h3>
    </div>
    <div class="panel-body form-horizontal"  role="form">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-xs-3">
                <input type="text" name="name" ng-model="todo.name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="nooffaces" class="col-sm-2 control-label">nooffaces</label>
            <div class="col-xs-3">
                <input type="text" name="nooffaces" ng-model="todo.nooffaces" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="facialalgorithm" class="col-sm-2 control-label">facial algorithm</label>
            <div class="col-xs-3">
                <select name="facialalgorithm" ng-model="todo.facialalgorithm" class="form-control">
            <option value='Local Binary Pattern'>Local Binary Pattern</option>
                    <option value='Local Directional Pattern'>Local Directional Pattern</option>
                    <option value='Sirf'>Sirf</option>
                </select>
            </div>
        </div>
            <div class="form-group">
            <label for="classifier" class="col-sm-2 control-label">classifier</label>
            <div class="col-xs-3">
                <select name="classifier" ng-model="todo.classifier" class="form-control">
                     <option value='knn'>knn</option>
                    <option value='neural networks'>neural networks</option>
                    <option value='random forest'>random forest</option>
                      <option value='voting classifier'>voting classifier</option>
                     <option value='SVM'>Support Vector Machines</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="databasename" class="col-sm-2 control-label">database name</label>
            <div class="col-xs-3">
                <select name="databasename" ng-model="todo.databasename" class="form-control">
                    <option value='JAFFE'>JAFFE</option>
                    <option value='Extended CK'>Extended CK</option>
                    <option value='Googleset'>Googleset</option>
                </select>
            </div>
        </div>
   <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" ng-click="update()">Submit</button>
            </div>
        </div>
    </div>
</div>